<!-- Zared Cohen -->
<h1>About the app</h1>
<p class="bg-info text-danger">This is our website for pa04, created by team 29
  <br>
  Go to the Home page at the top of the page to see all the transactions and add new ones.
  <br>
  Go to the About page at the top of the page to see the About page.
  <br>
  Visit our <a href="https://github.com/HandsomeHarry/cs103aSpr23Team29Projects">github</a> to see our code.
</p>

