
<h1>Transactions for <%= user.username %> </h1>
<p>Here is your list of things to do!</p>
  
    <div class="row">
        <button class="bg-primary" style="color: white; width: fit-content; height: auto; margin-right: 5%;" onclick="location.href='/byCategory'">group by category</button>

        <div class="col bg-info">
          Column B
          This is a photo from a zipline in CT
          This is a photo from a zipline in CT
          This is a photo from a zipline in CT
          This is a photo from a zipline in CT
          This is a photo from a zipline in CT
          This is a photo from a zipline in CT
          This is a photo from a zipline in CT
          This is a photo from a zipline in CT
          This is a photo from a zipline in CT
        </div>    
        <div class="col bg-danger">
          Column C
          <img src="" width="100%">
        </div>
      </div>
  
      <div class="row">
          <div class="col bg-info">
              Column B
              This is a photo from a zipline in CT
              This is a photo from a zipline in CT
              This is a photo from a zipline in CT
              This is a photo from a zipline in CT
              This is a photo from a zipline in CT
              This is a photo from a zipline in CT
              This is a photo from a zipline in CT
              This is a photo from a zipline in CT
              This is a photo from a zipline in CT
            </div>    
          <div class="col bg-primary">
            Column A
            <img src="/images/zipline2019.jpg" width="100%">
          </div>
  
        </div>