<!-- Zared Cohen -->
<h1>Transactions for <%= user.username %> </h1>
<p>Here is your list of things to do!</p>
  
    <div class="row">
        <button class="bg-primary" style="color: white;width: fit-content; height: 40px; margin-right: 3%; border-radius: 5px;" onclick="location.href='/byCategory'">group by category</button>
        <button class="bg-primary" style="color: white;width: fit-content; height: 40px; margin-right: 3%; border-radius: 5px;" onclick="location.href='/sortBy=category'">sort by category</button>
        <button class="bg-primary" style="color: white;width: fit-content; height: 40px; margin-right: 3%; border-radius: 5px;" onclick="location.href='/sortBy=amount'">sort by amount</button>
        <button class="bg-primary" style="color: white;width: fit-content; height: 40px; margin-right: 3%; border-radius: 5px;" onclick="location.href='/sortBy=description'">sort by description</button>
        <button class="bg-primary" style="color: white;width: fit-content; height: 40px; margin-right: 3%; border-radius: 5px;" onclick="location.href='/sortBy=date'">sort by date</button>     
    </div>
  
      <div class="row">
          <div class="col bg-info"> implement transaction rows here
          </div>    
          <div class="col bg-primary">
          </div>
      </div>

<h1>Add a new Transaction</h1>
    <form method="post" action="todo">
    <input type="text" name="item" placeholder="description"><br>
    <input type="text" name="item" placeholder="category"><br>
    <input type="text" name="item" placeholder="amount"><br>
    <input type="text" name="item" placeholder="mm/dd/yyyy"><br>
    <input type="submit" value="store">
    </form>
