<!-- Aaron Tang -->
<h1>About the app</h1>
<p class="bg-info text-danger">This is CA02</p>
<br />
<p>
  Each team member writes an interesting prompt and uses GPT API to get a
  response when a user submit a prompt.
</p>
