<!-- Zared Cohen -->
<form method="post" action="transactions">
  <%= prompt %><input type="text" name="input" placeholder=""><br>
    <input type="submit" value="gpt">
</form>

<% if (typeof response !== 'undefined') { %>
  <p><%= prompt %> <%= input %> : <%= response %></p>
<% } else { %>
  <!-- response does not exist -->
  <p>NooOOOOO</p>
<% } %>