<h1>CS103a CA02 App</h1>
<p class="text-danger">
  Welcome to the App! Below you can find links leading to each team members GPT
  prompt.
</p>
<ul>
  <li><a href="/gpt?prompt=zared">Zared Cohen</a></li>
  <li><a href="/gpt?prompt=aaron">Aaron Tang</a></li>
  <li><a href="/gpt?prompt=harry">Harry Yu</a></li>
  <li><a href="/gpt?prompt=denise">Denise Zhong</a></li>
  <li><a href="/gpt?prompt=jake">Jake Liu</a></li>
</ul>
